body{
    background-image: url(../images/bg.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    height: 85%;
}
#loginContainer {
	background-color: #E6E6FA;
	width: 38%;
    height: 400px;
    margin-top: 120px;
    margin-left: 425px;
    margin-right: 450px;
    border-radius: 10px;
}
#loginContainer p{
	margin-left: 100px;
    width: 300px;
	margin-bottom: 30px;
    box-sizing: inherit;
}
#loginContainer img{
	width: 100%;
	padding-top: 20px;
	margin-bottom: 40px;
}
#loginRegistrationNo{
	padding: 10px;
    margin-top: 20px;
    width: 310px;
}
label{
	font-size: 17px;
    font-family: sans-serif;
    font-style: normal;
    text-align: center;
}
button{
	background-color: white;
    border: 1px solid #0c0c0c;
    color: #800808;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    width: 110px;
    padding: 10px;
    margin-left: 323px;
    margin-bottom: 30px;
}
button:hover{
	cursor: pointer;
}
#Responsive-logo {
    display: hidden;
    width: 48px;
    height: 48px;
    background-size: 37px;
}
@media screen and (max-width: 758px) {
    *{
        margin:0;
    }
    #Responsive-logo {
        display: inline-block;
        background: rgb(40,50,60);
        border: 1px solid grey;
        border-radius: 5px;
    }
}